/* unitlity css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*  scrollbar style */

::-webkit-scrollbar {
    width: 5px;
    height: 2.5px;
}

::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

.section {
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.less-visible{
    opacity: 0.8;
}
.btn{
  border: none;
  border-radius: 20px;
  background-color: orange;
  color:white;
  transition: all 0.2s linear;
  cursor: pointer;
}
.btn:hover{
    background-color:rgb(255, 98, 0);
}
.color-span {
    color: orange;
}

.line {
    width: 100%;
    height: 0.5px;
    margin: 1rem auto;
    background-color: rgb(166, 161, 161);
}

